@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #ECEFF1;
  font: 14px/20px "Roboto", sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 850px;
}
.header {
    height: 40px;
    padding-top:10px;
    padding-bottom: 15px;
    width:100%;
    background-color: white;
    top: 0;
    margin-top: 0;
    position: fixed;
    z-index: 999;
}

.header-brand {
    background-color: white;
}

.header-brand .brand {
    color: #333333;
    font-size: 18px;
    text-decoration:none;
    font-weight:400;

}

.people-list {
    width: 260px;
    float: left;
}
.people-list .search {
  padding:20px 0px;
  text-align: left;
  width: 100%;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  margin-top: 8px; position:relative;
}
.people-list .about .messageCounterIndividual {
    position: absolute;
    right: -5px;
    top: 10px;
    background: #ff6767;
    color: #fff;
    padding: 0px;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
.people-list .status {
  color: #92959E;
}

.chat {
  width:560px;
  float: right;
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 0px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 24px;
  text-transform:capitalize;
  line-height: 60px;
  padding-left: 5px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 0px;
  line-height: 60px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 58%;
  left: -2%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: transparent;
  border-width: 10px;
  margin-left: -10px;
  border-right-color: #86BB71;

}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-left-color: #94C2ED;
    left: 102%;
    top: 15%;
    border-bottom-color: transparent;
    border-right-color:transparent;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
padding: 10px 20px;
font: 14px/22px "Lato", Arial, sans-serif;
margin-bottom: 10px;
border-radius: 1px;
resize: none;
border-color: #000000;
height: 6rem !important;

}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
float: right;
padding: 1px 0px 2px !important;
width: 100px !important;
border: 0;
font-style: normal;
text-transform: inherit;
line-height: 34px;
border-radius: 0.2em;
vertical-align: bottom;
z-index: 1;
will-change: opacity, transform;
transition: all .3s ease-out;
position: relative;
cursor: pointer;
display: inline-block;
overflow: hidden;
text-decoration: none;
color: #fff;
text-align: center;
letter-spacing: .5px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
font-family: Roboto, sans-serif;
font-size: 16px;
background-color: #00a9aa;

}
.chat .chat-message button:hover {
color: #ffffff;
background-color: #008f90;
box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
border-radius: 0.2em;
vertical-align: bottom;

}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.name {
  color: white;
}

.talkDeleteMessage {
    color: #563333;
}
.people-list .search .inbox {
    color: #555;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    float: left;
    width: 100%;text-align: left;
}
.people-list .search .inbox i {
    font-size: 22px;
    line-height: 30px;
    float: left;
    padding: 0px 10px 0px 0px;
}
.people-list ul {
    padding: 20px 0px;
    height: 770px;
    float: left;
    width: 100%;
}
.people-list ul.list li.active {
    background: #00a9aa !important ;
}
.people-list ul.list li a:hover {
    background: #00a9aa !important ;
}

.people-list ul.list li {
    width: 100%;
    float: left;
    background: #888888;
    padding: 0px;
}
.people-list ul.list li a{
    width: 100%;
    float: left;padding:10px;
}

.people-list ul.list li a img{
    float: left;
    width: 60px !important;
    height: 60px !important;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-right: 10px;
}

.people-list .about .name {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color:#FFF;
}
.people-list .about .status {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
}

.people-list .about .status i{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
}
.chat .chat-header {
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    float: left;
    width: 100%;
}
.chat .chat-header .profileImgSec {
    float: left;
    width: 60px;
    height: 60px;
}

.chat .chat-header  img{
    float: left;
    width: 60px !important;
    height: 60px!important;;
    border-radius:100%!important;
    border: 1px solid #D3D3D3!important;
}
.chat .chat-history #talkMessages {
    float: left;
    width: 100%;
}

.chat .chat-history #talkMessages li{
    float: left;
    width: 100%;
    position:relative
}
.chat .chat-history #talkMessages li .message.other-message.float-right {
    float: left;
}

.chat .chat-history #talkMessages li .message {
    float:right;
}
.chat .chat-history .message-data .profileImgSec {
    float: left;
}

.chat .chat-history #talkMessages li .message-data img {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.chat .chat-history #talkMessages li .message-data img.dentalImage {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.chat .chat-history #talkMessages li .message-data.align-right img {
    right: 0px;
    left: auto !important;
    top:35px;
}
.chat .chat-history #talkMessages li .message {
    width: 85% !important;
    position: relative;
    margin-bottom: 15px !important;
    padding: 13px 20px !important;
}
.chat .chat-history #talkMessages li .message-data-name {
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    padding: 0px 10px;
   text-transform: capitalize;
}
.chat .chat-history #talkMessages li .talkDeleteMessage {
    color: #fff;
    line-height: 36px;
    font-size: 16px;
    display: none;
    position: absolute;
    top: 55px;
    left: 80px;
    z-index: 999;
}
.chat .chat-history #talkMessages li .message-data.align-right .talkDeleteMessage {
    top: 42px;
    right: 80px; left:auto;
}

.chat .chat-history #talkMessages li:hover .talkDeleteMessage{
    display: block;
}
.chat .chat-history #talkMessages li .message-data .message-data-time {
    float: right;
    line-height: 35px;
    font-size: 12px;
}


.chat .chat-history #talkMessages li .message-data.align-right  .message-data-time {
    float: left;
}
.footerContentSec, .footerContentSec a {
    color: #00a9aa;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
}
#mobRightMenu.leftMenuSec .leftSec ul li a .messageCounter {
   color: #fff;
background: #ff6767;
padding: 2px 15px;
border-radius: 20px;
width: auto;
float: right;
height: auto;
line-height: 24px;
margin-top: 12px;
}
.loadMorebtn {
    text-align: center;
}
.loadMorebtn .show_button {
    color: #039be5;
}
@media (max-width:1050px){
.container {
    margin: 0 auto;
    width: 94%;
}
.people-list {
    width: 30%;
    float: left;
}
.chat {
    width: 68%;
}

}

@media (max-width:980px){
.container {
    margin: 0px;
    width: 100%;
    max-width: 100%;
    float: left;
    padding: 0px 15px;
}
.people-list ul {
    height: auto;
    float: left;
    width: 100%;
}
.people-list {
    width: 100%;
    float: left;
}
.chat {
    width: 100%;
    float: left;
}
.withOutTopMenu, .withTopMenu {
    padding: 40px 0 ;
}
.chat .chat-history {
    padding: 10px;
}
.chat .chat-history #talkMessages li .message-data img {
    width: 40px;
    height: 40px;
}
.chat .chat-history #talkMessages li .message-data img .dentalImage {
    width: 40px;
    height: 40px;
}
.chat .chat-history #talkMessages li .message-data.align-right .talkDeleteMessage {
    top: 38px;
    right: 60px;
}
.chat .chat-history #talkMessages li .talkDeleteMessage {
    top: 55px;
    left: 60px;
}
}
@media (max-width:360px){
.chat .chat-history #talkMessages li .message {
    width: 80% !important;
    padding: 13px 10px !important;
}
}